<div>
  <app-header [sidenav]="leftSidenav"></app-header>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #leftSidenav mode="side" opened>
      <app-left-menu [user]=" user$ | async "></app-left-menu>
    </mat-sidenav>
    <mat-sidenav-content
      [@onMainContentChange]="onSideNavChange ? 'open' : 'close'"
    >
      <div class="main_content">
        <div class="row h-100">
          <div class="col-10">
            <div class="offset-md-1">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
