<app-page-title title="Dashboard"></app-page-title>
<app-dashboard-spotlight-card [task]="task" (viewTask)="viewTask()"></app-dashboard-spotlight-card>
<div class="d-flex justify-content-between my-5">
  <app-total-card
    [number]="postSize"
    text="postagens"
    color="primary"
    routerLink="posts"
    ></app-total-card
  >
  <app-total-card
  [number]="todosSize"
    text="tarefas"
    color="secondary"
    routerLink="todos"
    ></app-total-card
  >
  <app-total-card  [number]="albumSize" text="Albuns" color="title" routerLink="albums"
    ></app-total-card
  >
</div>
<app-chart-card></app-chart-card>
