<app-page-title title="Criar Postagem"></app-page-title>
<div>
    <form  [formGroup]="formPost" >
    <mat-card class="create-album-container d-flex flex-column justify-content-between p-4">
        <mat-form-field appearance="fill" color="accent" floatLabel="always" class="full-width" > 
            <mat-label>Titulo</mat-label>
            <input matInput placeholder="label" value="value" class="" formControlName="title">
        </mat-form-field>
        <mat-form-field appearance="fill" color="accent" floatLabel="always" class="full-width" > 
            <mat-label>Corpo do Texto</mat-label>
            <textarea matInput placeholder="label" value="value" class="" formControlName="body"></textarea>
        </mat-form-field>
        
        <app-button-group (primaryButton)="submit(formPost.value)"  (secondaryButton)="resetForm()"></app-button-group>
    </mat-card>
</form>
</div>