@import "../../../../assets/styles/variables";

.todo-card {
  &-container {
    width: 400px;
    height: 200px;
  }
  &-title {
    color: map-get($colors, title);
    font-size: 20px;
    font-weight: bolder;
  }
  &-user {
    color: map-get($colors, textLight);
    font-size: 14px;
  }
}
